* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial, sans-serif;
  background: #fff;
  color: #121214;
}


header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #D6000D;
}

.title::after {
  content: '.';
  color: #121214;
}

.menu {
  display: flex;
}

.menu ul li {
  display: inline-block;
  list-style: none;

  margin-right: 30px;
}

.link {
  text-decoration: none;

  font-size: 22px;
  color: #121214;
}

.menu ul button {
  width: 200px;
  height: 40px;

  text-align: center;

  border: none;
  border-radius: 10px;

  font-size: 22px;
  font-weight: bold;
  color: #fff;

  background: #D6000D;

  cursor: pointer;
}

.container-01 {
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 100%;
  max-height: 100vh;
}

.container-01 img {
  background-size: cover;
  height: 600px;
}

.container-01 div {
  display: flex;
  flex-direction: column;

  max-width: 550px;
  padding-left: 60px;

}

.container-01 div p {
  font-size: 22px;
  font-weight: bold;
}

.container-01 div h2 {
  font-size: 52px;
  color: #D6000D;
}

.container-01 div button {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 10px;

  background: #D6000D;
  color: #fff;
  font-size: 22px;

  margin-top: 60px;
  cursor: pointer;

  transition: margin 0.1s ease-in;
}

.container-01 div button:hover {
  margin-left: 15px;
  transition: margin-left 0.3s ease-in;
}

.container-02 {
  width: 100%;
  max-height: 100vh;

  padding-top: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-02 img {
  background-size: cover;
  height: 600px;
}

.content-01 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-01 ul {
  margin-bottom: 20px;
}

.content-01 ul li{
  list-style: none;

  font-size: 32px;
  margin-right: 150px;
  margin-bottom: 10px;
}

.content-01 ul li::before {
  content: "•  ";
  color: #D6000D;
  font-weight: bold;
}

.content-02 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  margin-left: 350px;
  padding-bottom: 50px;
}

.content-02 div {
  padding-top: 10px;
}

.content-02 input {
  background: #ccc;
  height: 50px;
  width: 250px;

  border: none;
  border-radius: 10px;

  font-size: 22px;
  padding-left: 10px;
}

.content-02 button {
  background: #D6000D;
  height: 50px;
  width: 250px;

  border: none;
  border-radius: 10px;

  font-size: 22px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.content-02 button:hover {
  margin-left: 15px;
  transition: margin-left 0.3s ease-in;
}